.background-image {
   background-image: url("../image/momos.avif");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
@media (max-width: 768px){
   .background-image{
      height: 90vh;
   }
}

.background-image2 {
   background-image: url("../image/pizza3.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}

.input-field {
   flex-grow: 1;
   padding: 7px;
   color: #4a5568;
   background-color: #ffffff;
   border: 1px solid #d1d5db;
   border-radius: 0.5rem;
   outline: none;
   width: 50vw;
}
@media (max-width: 768px) {

   /* For small screens */
   .input-field {
      width: 70vw;
      /* Set width to 80% */
      font-size: 0.875rem;
      /* Decrease text size */
   }
}

.input-field:focus {
   border-color: #a0aec0;
}

.custom-text {
   font-family: serif;
   font-weight: bold;
   font-size: 1.5rem;
}